<!DOCTYPE html>
<html>
    <head>
        <title><p>Прогнозирование конечных свойств новых материалов (композиционных материалов)»</p></title>

        <!--Подключение файла CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <font face="consolas">
    <h1 align="center">Композиционные материалы</h1>
    <br>
    <!--Форма заполнения признаков для подачи в модели-->
    
    <form action="{{url_for('main')}}" method="POST">
        <fieldset>
            <legend>Введите значения признаков</legend>

            <div><label>Соотношение матрица-наполнитель:</label><input name = "feature1" type="number" required></div>
            <div><label>Плотность, кг/м3:</label><input name = "feature2" type="number" required></div>
            <div><label>Модуль упругости, ГПа:</label><input name = "feature3" type="number" required></div>
            <div><label>Количество отвердителя, м.%:</label><input name = "feature4" type="number" required></div>
            <div><label>Содержание эпоксидных групп,%_2:</label><input name = "feature5" type="number" required></div>
            <div><label>Температура вспышки, С_2:</label><input name = "feature6" type="number" required></div>
            <div><label>Поверхностная плотность, г/м2:</label><input name = "feature7" type="number" required></div>
            <div><label>Потребление смолы, г/м2:</label><input name = "feature8" type="number" required></div>
            <div><label>Угол нашивки, градусы:</label><input name = "feature9" type="number" required></div>
            <div><label>Шаг нашивки:</label><input name = "feature10" type="number" required></div>
            <div><label>Плотность нашивки:</label><input name = "feature11" type="number" required></div>

            <input type="submit">
        </fieldset> 
    </form>
    </font>

    <!--Контейнер для результатов-->
    <div class="result" align="left">

        <!--Отображаем результат предсказания целевого признака "Модуль упругости при растяжении, ГПа"-->
        {% if elasticity_result %}
            <div><label> Модуль упругости при растяжении, ГПа: </label><output name="elasticity">{{elasticity_result}}</output></div>
            <div><label> Прочность при растяжении, МПа: </label><output name="strength">{{strength_result}}</output></div>
        {% endif %}
    </div>

    <hr>
    <h5 align="left">Проект выполнил слушатель курса "Аналитик данных (Data scientist)"<br>Черкаев Марк</h5>
</html>
